@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --background: #1c2333;
    --foreground: #c7d6ff;
}

.centered-svg-container {
    display: flex;
    align-items: center;
}
.centered-svg {
    margin: 0 auto;
    display: block;
}
.box {
    padding: 10px;
    background-color: #0e1525; 
}
.post-box {
    padding: 20px 30px 20px 30px;
    text-align: justify;
}
.rounded-corners {
    
    border-radius: 10px;
}
html {
    color: var(--foreground);
    font-family: 'Fredoka', sans-serif;
    background-color: var(--background);
}
a {
    color: #c7d6ff;
    transition: 0.2s;
}
main {
    padding: 10px;
}
.code-container {
    background-color: #11161A;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    width: fit-content;
    margin: auto;
    transition: 0.2s ease-in-out;
}
.code-container:hover {
    background-color: #0e1525;
}
.code-highlight {
    background-color: var(--foreground);
    color: #11161A;
    
}
.post {
    margin: auto;
    width: 50%;
}
.bar {
    display: grid;
    grid-template-columns: [start] 75% [middle] 25% [end];
    grid-template-rows: [start] 50% [middle] 50% [end];
}
.bar-title {
    grid-column-start: start;
    grid-column-end: middle;
    grid-row-start: start;
    grid-row-end: end;
}
.bar-links {
    grid-column-start: middle;
    grid-column-end: end;
    display: flex;
}
.top-link {
    grid-row-start: start;
    grid-row-end: middle;
}
.bottom-link {
    grid-row-start: middle;
    grid-row-end: middle;
}
.link {
    width:25%;
    color: var(--foreground);
    background-color: #1c2333;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    margin-right: 10px;
    margin-left: auto;
    transition: 0.2s;
    float: right;
}
.link:hover {
    color: var(--background);
    background-color: var(--foreground);
}
.dropdown {
    margin: 10px 0px 10px 0px;
    padding: 20px;
}

/* TEXT */
p {
    font-size: 20px;
    line-height: 1.7;
}
.post-title {
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}
.caption {
    font-size: 15px;
    text-align: center;
    margin-top: 0; 
}

/* COLORS */
color {
    transition: 0.2s;
}
.red {
    color: #ff4470
}
.red:hover {
    color: #ff7308;
}
.orange {
    color: #ff7308;
}
.yellow {
    color: #ffc636;
}
.yellow:hover {
    color: #ff7308;
}
.green {
    color: #16ab57;
}
.blue {
    color: #007be0;
}
.blue:hover {
    color: #00c7eb;
}
.cyan {
    color: #00c7eb;
}
.purple {
    color: #7546eb;
}