<html>
    <main>
        <head>
            <title>Home</title>
<!--            <link rel="stylesheet" href="main.css">-->
<!--            <link rel="stylesheet" href="../../fragments/main.css">-->
<!--            <div id="navParent"></div>-->
<!--            <script src="../assets/js/import.js"></script>-->
<!--            <script src="../assets/js/main.js"></script>-->
<!--            <script>-->
<!--                importNav();-->
<!--            </script>-->
        </head>
        <div>
            <h1><a href="https://github.com/algolg/akhil-t3/issues/10">Data Structures Final Ticket</a></h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3vsuuFmEQZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Replit Deployment</h3>
            <iframe class="rounded-corners" frameborder="0" width="100%" height="500px" src="https://replit.com/@algolg/akhil-t3?embed=true?lite=true"></iframe>
        </div>
    </main>
</html>
