<html>
    <main>
        <head>
            <title>Home</title>
            <link rel="stylesheet" href="main.css">
            <link rel="stylesheet" href="../../fragments/main.css">
            <div id="navParent"></div>
            <script src="../assets/js/import.js"></script>
            <script src="../assets/js/main.js"></script>
            <script>
                importNav();
            </script>
        </head>
        <div>
            <h1><a href="../../sorts">Sorts and Analysis</a></h1>
            <h3>Replit Deployment</h3>
            <iframe class="rounded-corners" frameborder="0" width="100%" height="500px" src="https://replit.com/@algolg/akhil-t3?embed=true?lite=true"></iframe>
        </div>
    </main>
</html>
