<div id="top" class="rounded-corners box bar">
  <link rel="stylesheet" href="/Users/akhilguntur/Documents/GitHub/akhil-t3/assets/css/main.css">
  <script src="/Users/akhilguntur/Documents/GitHub/akhil-t3/assets/js/main.js"></script>
    <div class="bar-title centered-svg-container">
        <h1 class="centered-svg" style="margin-left:10px;">Welcome to Akhil</h1>
        <a id="dropdown-link" class="link" onclick="toggleResponsive()">
            <div class="centered-svg-container">
                <div class="centered-svg" style="width:fit-content;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="font-size:0;" width="100px" height="100px" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
            </div>
        </a>
    </div>
    <div class="bar-links">
        <a class="link main-link" href="index">
            <div class="centered-svg-container">
                <div class="centered-svg">
                    <abbr title="Home Page">
                        <h5>Home Page</h5>
                    </abbr>
                </div>
            </div>
        </a>
        <a class="link main-link" href="techtalks">
            <div class="centered-svg-container">
                <div class="centered-svg">
                    <abbr title="Tech Talks">
                        <h5>Tech Talks</h5>
                    </abbr>
                </div>
            </div>
        </a>
        <div class="link main-link parent-link" id="testplans-btn">
            <a href="testplans">
                <div class="centered-svg-container">
                    <div class="centered-svg">
                        <abbr title="Test Prep">
                            <h5>Test Prep</h5>
                        </abbr>
                    </div>
                </div>
            </a>
            <div class="sub-link">
                <div class="gap"></div>
                <a class="link" href="wk1-mcq-corrections">
                    2015 MCQ Corrections
                </a>
                <div class="gap"></div>
                <a class="link" href="wk2-mcq-corrections">
                    2020 MCQ Corrections
                </a>
                <div class="gap"></div>
                <a class="link" href="wk2-frqs">
                    2020 FRQs
                </a>
            </div>
        </div>
        <a class="link main-link" href="sorts">
            <div class="centered-svg-container">
                <div class="centered-svg">
                    <abbr title="Sorts">
                        <h5>Sorts</h5>
                    </abbr> 
                </div>
            </div>
        </a>
        <a id="last-link" class="link main-link" href="https://github.com/algolg" alt="GitHub Profile" target="_blank" rel="noopener noreferrer">
            <div class="centered-svg-container">
                <div class="centered-svg">
                    <abbr title="GitHub Profile">
                        <h5>GitHub Profile</h5>
                    </abbr> 
                </div>
            </div>
        </a>
    </div>
</div>