<html>
    <main>
        <head>
            <title>Tech Talk Notes</title>
<!--            <link rel="stylesheet" href="main.css">-->
<!--            <link rel="stylesheet" href="../../fragments/main.css">-->
<!--            <div id="navParent"></div>-->
<!--            <script src="../assets/js/import.js"></script>-->
<!--            <script src="../assets/js/main.js"></script>-->
<!--            <script>-->
<!--                importNav();-->
<!--            </script>-->
        </head>
        <div>
        </div>
            <details class="box rounded-corners dropdown" open>
                <summary>Week 2</summary>
                Making a Calculator in Java from a String input involves breaking the expression into multiple parts. 
                The String must be tokenized (split into different parts), and then converted into Reverse Polish Notation
                <br><h3>Reflection</h3>
                The hargest part of this activity for me was figuring out how to conver to Reverse Polish Notation. 
                I especially had trouble trying to add support for parentheses, but adding separate if statements to check for parentheses as the suggested by the pseudo-code of the Shunting-yard algorithm helped
                <div style="padding:10px;">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Falgolg%2Fakhil-t3%2Fblob%2Fmain%2Falgolg%2Fsrc%2Fmain%2Fjava%2Fcom%2Fakhil%2FCalculator.java%23L43-L53&style=atom-one-dark-reasonable&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
                </div>
            </details>
            <details class="box rounded-corners dropdown">
                <summary>Week 1</summary>
            </details>
            <details class="box rounded-corners dropdown">
                <summary>Week 0</summary>
            </details>
    </main>
</html>
