<html>
    <main>
        <head>
            <title>Test Prep Plans</title>
            <link rel="stylesheet" href="main.css">
            <link rel="stylesheet" href="../../fragments/main.css">
            <div id="navParent"></div>
            <script src="../assets/js/import.js"></script>
            <script src="../assets/js/main.js"></script>
            <script>
                importNav();
            </script>
        </head>
        <div>
            <h3>Test Prep Plans</h3>
            <p class="box rounded-corners" style="margin:0px 50px 0px 50px;padding:20px;">
                My plans for test prep involves meeting with Ishan in Discord calls and studying the FRQs and MCs we did in class. We can also look at FRQs from past AP exams and study off of those.
                <br>
                <br>
                Overall, I need to learn to become less reliant on IDEs, so trying to code in notepad or without VSCode extensions may help me.
                <br>
            </p>
        </div>
    </main>
</html>
