@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --background: #1c2333;
    --foreground: #c7d6ff;
}

html {
    color: var(--foreground);
    font-family: 'Fredoka', sans-serif;
    background-color: var(--background);
    scroll-behavior: smooth;
}
a {
    color: inherit;
    transition: 0.2s;
}
main {
    padding: 10px;
}
img {
    border-radius: 10px;
}
button {
    border-radius: 10px;
    background-color: #0e1525;
    color: var(--foreground);
    border: 2px solid var(--foreground);
    transition: 0.2s;
}
button:hover {
    background-color: var(--foreground);
    color: #0e1525;
}
.centered-svg-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
}
.centered-svg {
    margin: 0 auto;
    display: block;
}
.box {
    padding: 10px;
    background-color: #0e1525; 
}
.post-box {
    padding: 20px 30px 20px 30px !important;
    text-align: justify;
}
.rounded-corners {
    
    border-radius: 10px;
}
.code-container {
    background-color: #11161A;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px 30px 15px 30px;
    max-width: fit-content;
    margin: auto;
    transition: 0.2s ease-in-out;
    line-height: 1.5;
    overflow: auto;
}
.code-container:hover {
    background-color: #0e1525;
}
.code-section {
    display:flex;
    width:75%;
    margin:auto;
}
.code-section > div {
    width: 100%;
}
.code-highlight {
    background-color: var(--foreground);
    color: #11161A;
    
}
.post {
    margin: auto;
    width: 50%;
}
.dropdown {
    margin: 10px 0px 10px 0px;
    padding: 20px;
}

/* NAVBAR */
#navParent, .bar {
    transition: 0.2s all;
}
.bar {
    display: flex;
}
.bar-title {
    margin-left: 0px;
    overflow: hidden;
    transition: 0.2s;
}
.bar-links {
    float: right;
    display: flex;
    width: 50%
}
.link {
    width: 10vw;
    color: var(--foreground);
    background-color: #1c2333;
    border-radius: 10px;
    padding: 1vw;
    margin-right: 1%;
    margin-left: auto;
    transition: 0.2s;
    float: right;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.link:hover {
    color: var(--background);
    background-color: var(--foreground);
}
.link > a {
    text-decoration: none;
}
.sub-link > a {
    text-decoration: none;
    float: none;
    display: inline-block;
    width: fit-content;
    color: var(--background);
    background-color: var(--foreground);
    transform: scale(0.95);
}
.sub-link > a:hover {
    filter: brightness(1.1);
    transform: scale(1.05) !important;
}
.parent-link:hover .sub-link {
    opacity: 1;
    pointer-events: visible;
}
.parent-link:hover .sub-link > a {
    transform: scale(1);
}
.parent-link > a > div > div > abbr > h5::after {
	content: "";
	margin-left: 5px;
	border: solid;
	border-width: 0 2px 2px 0;
	color: inherit;
	padding: 2px 2px 2px 2px;
	position: absolute;
	transform: rotate(45deg);
	margin-top: 5px;
}
#dropdown-link {
    display: none;
}
#last-link {
    margin-right: 0;
}
.sub-link {
    width: 10vw;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s all;
}
.gap {
    top: 0;
    bottom: 0;
    height: 0.5vw;
}
.gap:nth-child(1) {
    height: 1.5vw;
}
/* TEXT */
p {
    font-size: 20px;
    line-height: 1.7;
}
abbr {
    text-decoration: none;
}
.post-title {
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}
.caption {
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    width: 55%;
    margin-left: auto;
    margin-right: auto; 
}
.footer {
    font-size: medium;
    padding: 10px;
}

/* COLORS */
color {
    transition: 0.2s;
}
.red {
    color: #ff4470
}
.red-hover:hover {
    color: #ff7308;
}
.orange {
    color: #ff7308;
}
.yellow {
    color: #ffc636;
}
.yellow-hover:hover {
    color: #ff7308;
}
.green {
    color: #16ab57;
}
.blue {
    color: #007be0;
}
.blue-hover:hover {
    color: #00c7eb;
}
.cyan {
    color: #00c7eb;
}
.purple {
    color: #7546eb;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1200px) {
    .code-section {
        display: block;
    }
    .post {
        width: 90%;
    }
    .code-section > div {
        width: 100% !important;
    }
    .bar-title {
        font-size: 25px;
    }

    #toc {
        margin: auto;
        float: none !important;
        width: 100% !important;
        position: inherit !important;
    }
    #toc-title {
        font-size: 30px !important;
    }
    #toc-list {
        font-size: 30px !important;
        line-height: 1.5;
    }
    #toc-padding-left, #toc-padding-right {
        display:none;
    }
    #toc-main {
        background-color: transparent;
        margin: 0 auto;
    }

    #dropdown-link {
        display: inherit;
        margin-right: 0px;
    }
    #last-link {
        margin-right: 10px;
    }
    .main-link {
        display: none;
    }
    .link {
        font-size: 40px;
    }
    /* TOGGLE */
    .bar-title-display {
        display: none;
    }
    .top-responsive {
        grid-template-columns: [start] 0% [middle] 100% [end] !important;
    }
    .bar-title-responsive {
        opacity: 0;
    }
    .main-link-responsive {
        display: inherit;
    }

    /* CODE */
    code {
        font-size: 20px;
    }
    .caption {
        font-size: 150%;
    }
}